@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gowun+Dodum&display=swap');


article{
    display: flex;
    flex-direction: column;
}

.A{
    font-size: 200px;
    padding: 500px;
}

.pgrNum{
    font-family: 'Gowun Dodum', sans-serif;
}

.start{
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 100px;
}
.strat btn{
    padding: 5000px;
}
.question{
    display: none;
    font-family: 'Gowun Dodum', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.explain{
    height: 120px;
    margin-top: 50px;
    margin-bottom: 110px;
}

.result {
    display: none;
    font-family: 'Gowun Dodum', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.resultBtn {
    flex:none;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.maker{
    margin-top: 50px;
    font-size: 12px;
    color: rgb(70, 70, 70);
}

#A{
    height: 120px;
}
#B{
    height: 120px;
}

#title{
    font-weight: bold;
}

#planet{
    font-weight: bold;
}

#img {
    width : 200px;
    height : 200px;
    margin : 0 auto;
    border-radius: 70%;
}
#best-img{
    width : 120px;
    height : 120px;
    border-radius: 70%;
    margin: 0 auto;
}
#worst-img{
    width : 120px;
    height : 120px;
    border-radius: 70%;
    margin: 0 auto;
}
.border{
    padding: 20px;
}

.card{
    margin : 0 auto;
}

#logo{
    width: 20%;
    height: 20%;
    margin-top: 10px;
}
