@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

article{
    display: flex;
    flex-direction: column;
}

.start{
    font-family: 'Black Han Sans', sans-serif;
}
.question{
    display: none;
    font-family: 'Do Hyeon', sans-serif;
}

.result {
    display: none;
    font-family: 'Do Hyeon', sans-serif;
}

#img {
    width : 300px;
    height : 300px;
    margin : 0 auto;
}