@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');

article{
    display: flex;
    flex-direction: column;
}

.A{
    font-size: 200px;
    padding: 500px;
}

.pgrNum{
    margin-top: 50px;
}

.start{
    font-family: 'Black Han Sans', sans-serif;
    margin-top: 200px;
}
.strat btn{
    padding: 5000px;
}
.question{
    display: none;
    font-family :'Do Hyeon', sans-serif;
}

.explain{
    height: 120px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.result {
    display: none;
    font-family: 'Do Hyeon', sans-serif;
}

.resultBtn {
    flex:1;
}

.replay{
    width: 50%;
}

#img {
    width : 300px;
    height : 300px;
    margin : 0 auto;
}

